function Memory.init 0
push constant 0
pop static 0
push constant 2048
pop static 1
push constant 16383
push static 1
sub
pop static 2
push static 1
pop static 3
push constant 0
push static 3
add
push static 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push static 3
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Memory.peek 0
push argument 0
push static 0
add
pop pointer 1
push that 0
return
function Memory.poke 0
push argument 0
push static 0
add
push argument 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Memory.alloc 5
push static 3
pop local 2
label WHILE_EXP0
push constant 0
push local 2
add
pop pointer 1
push that 0
push argument 0
push constant 1
add
lt
not
if-goto WHILE_END0
push local 2
pop local 4
push constant 1
push local 2
add
pop pointer 1
push that 0
pop local 2
goto WHILE_EXP0
label WHILE_END0
push constant 0
push local 2
add
pop pointer 1
push that 0
push argument 0
push constant 1
add
sub
pop local 0
push local 0
push constant 2
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 2
push constant 1
add
pop local 1
push constant 1
push local 4
add
push local 2
push constant 0
push local 2
add
pop pointer 1
push that 0
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
goto IF_END0
label IF_FALSE0
push local 2
push constant 0
push local 2
add
pop pointer 1
push that 0
add
push argument 0
push constant 1
add
sub
push constant 1
add
pop local 1
push constant 0
push local 2
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_END0
push constant 1
neg
push local 1
add
push argument 0
push constant 1
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
return
function Memory.deAlloc 2
push argument 0
push constant 1
sub
pop local 0
push constant 0
push local 0
add
push constant 1
neg
push argument 0
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push static 3
add
pop pointer 1
push that 0
pop local 1
push constant 1
push static 3
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 0
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
